@charset "UTF-8";

/* Q1 サイズ変更ここから */
.first-box,
.second-box,
.third-box,
.fifth-box,
.sixth-box {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 959px) {
  .red-box {
    width: 200px;
    height: 200px;
    background-color: #ff0000;
    max-width: 960px;
  }
}

@media screen and (min-width: 960px) {
  .red-box {
    width: 400px;
    height: 400px;
    background-color: #ff0000;
    max-width: 960px;
  }
}

/* Q1 サイズ変更ここまで */


/* Q2 色変更ここから */
@media screen and (max-width: 959px) {
  .colorchange-box {
    background-color: #007bff;
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 960px) {
  .colorchange-box {
    background-color: #ff0000;
    width: 300px;
    height: 300px;
  }
}

/* Q2 色変更ここまで */

/* Q3 値変更ここから */
@media screen and (max-width: 959px) {
  .blue-box {
    background-color: #0008ff;
    margin-right: 50px;
  }

  .green-box {
    background-color: #22ff00;
  }
}

@media screen and (min-width: 960px) {
  .blue-box {
    background-color: #0008ff;
    margin-right: 150px;
  }

  .green-box {
    background-color: #22ff00;
  }
}

.flex-item {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
}

/* Q3 値変更ここまで */

/* Q4 floatの解除ここから */
@media screen and (max-width: 959px) {

  .red--box {
    background-color: #ff0000;
    width: 300px;
    height: 300px;
    float: none;
  }

  .blue--box {
    background-color: #0008ff;
    width: 300px;
    height: 300px;
    float: none;
  }
}

@media screen and (min-width: 960px) {

  .red--box {
    background-color: #ff0000;
    width: 300px;
    height: 300px;
    float: left;
  }

  .blue--box {
    background-color: #0008ff;
    width: 300px;
    height: 300px;
    float: left;
  }

  .set_box {
    justify-content: center;
    display: flex;
  }
}

/* Q4 floatの解除ここまで */

/* Q5 flexboxの入れ替え(逆順)ここから */
@media screen and (max-width: 959px) {
  .red---box {
    width: 300px;
    height: 300px;
    float: left;
    background-color: #ff0000;
  }

  .blue---box {
    width: 300px;
    height: 300px;
    float: left;
    background-color: #0008ff;
  }

  .orange---box {
    width: 300px;
    height: 300px;
    float: left;
    background-color: #ff8400;
  }

  .triple_box {
    display: flex;
  }

  .red---box {
    order: 3;
  }

  .blue---box {
    order: 2;
  }

  .orange---box {
    order: 1;
  }
}

@media screen and (min-width: 960px) {
  .red---box {
    width: 300px;
    height: 300px;
    float: left;
    background-color: #ff0000;
  }

  .blue---box {
    width: 300px;
    height: 300px;
    float: left;
    background-color: #0008ff;
  }

  .orange---box {
    width: 300px;
    height: 300px;
    float: left;
    background-color: #ff8400;
  }

  .triple_box {
    display: flex;
  }
}

.text {
  text-align: center;
  padding: 140px;
}

/* Q5 flexboxの入れ替え(逆順)ここまで */


/* Q6 flexboxの入れ替え(指定)ここから */
@media screen and (max-width: 959px) {
  .green {
    width: 300px;
    height: 300px;
    background-color: #00ff51;
  }

  .yellow {
    width: 300px;
    height: 300px;
    background-color: #d4ff00;
  }

  .pink {
    width: 300px;
    height: 300px;
    background-color: #ff00e1;
  }

  .green {
    order: 2;
  }

  .yellow {
    order: 3;
  }

  .pink {
    order: 1;
  }

  .triple__box {
    display: flex;
  }
}

@media screen and (min-width: 960px) {
  .green {
    width: 300px;
    height: 300px;
    background-color: #00ff51;
  }

  .yellow {
    width: 300px;
    height: 300px;
    background-color: #d4ff00;
  }

  .pink {
    width: 300px;
    height: 300px;
    background-color: #ff00e1;
  }

  .triple__box {
    display: flex;
  }
}

.text {
  text-align: center;
  padding: 140px;
}

/* Q6 flexboxの入れ替え(指定)ここまで */

/* Q7 要素の表示・非表示ここから */
@media screen and (max-width: 959px) {

  .blue {
    width: 300px;
    height: 300px;
    background-color: #0008ff;
  }

  .grn {
    width: 300px;
    height: 300px;
    background-color: #00ff51;
  }

  .red {
    width: 300px;
    height: 300px;
    background-color: #ff0000;
    display: none;
  }

  .set__box{
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 960px) {

  .red {
    width: 300px;
    height: 300px;
    background-color: #ff0000;
  }

  .grn {
    width: 300px;
    height: 300px;
    background-color: #00ff51;
  }

  .blue {
    width: 300px;
    height: 300px;
    background-color: #0008ff;
    display: none;
  }

  .set__box{
    display: flex;
    justify-content: center;
  }
}

/* Q7 要素の表示・非表示ここまで */