@charset "UTF-8";

/* Q1 サイズ変更ここから */
.first-box,
.second-box,
.third-box,
.fifth-box,
.sixth-box {
  display: flex;
  justify-content: center;
}

.red-box {
  width: 400px;
  height: 400px;
  background-color: #ff0000;
  max-width: 960px;
}

@media screen and (max-width: 959px) {
  .red-box {
    width: 200px;
    height: 200px;
  }
}

/* Q1 サイズ変更ここまで */


/* Q2 色変更ここから */

.colorchange-box {
  background-color: #ff0000;
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 959px) {
  .colorchange-box {
    background-color: #007bff;
  }
}

/* Q2 色変更ここまで */

/* Q3 値変更ここから */

.blue-box {
  margin-right: 150px;
  background-color: #0008ff;
}

@media screen and (max-width: 959px) {
  .blue-box {
    margin-right: 50px;
  }
}

.green-box {
  background-color: #22ff00;
}

.flex-item {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
}

/* Q3 値変更ここまで */

/* Q4 floatの解除ここから */
.forth-box{
    display: flex;
    justify-content: center;
  }


@media screen and (max-width: 959px) {

  .forth-box{
    flex-direction: column;
  }

}

.red--box {
  background-color: #ff0000;
}

.blue--box {
  background-color: #0008ff;
}

.red--box,
.blue--box {
  width: 300px;
  height: 300px;
}

/* Q4 floatの解除ここまで */

/* Q5 flexboxの入れ替え(逆順)ここから */

.fifth-box {
  flex-direction: row;
}

@media screen and (max-width: 959px) {

  .fifth-box {
    flex-direction: row-reverse;
  }
}

.red---box {
  background-color: #ff0000;
}

.blue---box {
  background-color: #0008ff;
}

.orange---box {
  background-color: #ff8400;
}

.fifth-box {
  display: flex;
}

.red---box,
.blue---box,
.orange---box {
  width: 300px;
  height: 300px;
  float: left;
}

.text {
  text-align: center;
  padding: 140px;
}

/* Q5 flexboxの入れ替え(逆順)ここまで */


/* Q6 flexboxの入れ替え(指定)ここから */

.text {
  text-align: center;
  padding: 140px;
}

.green {
  order: 1;
}

.yellow {
  order: 2;
}

.pink {
  order: 3;
}

@media screen and (max-width: 959px) {

  .green {
    order: 2;
  }

  .yellow {
    order: 3;
  }

  .pink {
    order: 1;
  }
}

.green,
.yellow,
.pink {
  width: 300px;
  height: 300px;
}

.green {
  background-color: #00ff51;
}

.yellow {
  background-color: #d4ff00;
}

.pink {
  background-color: #ff00e1;
}

/* Q6 flexboxの入れ替え(指定)ここまで */

/* Q7 要素の表示・非表示ここから */

.blue{
  display: none;
}

.red{
  display: block;
}

@media screen and (max-width: 959px) {

  .blue {
    display: block;
  }

  .red{
    display: none;
  }

}
.blue,
.grn,
.red {
  width: 300px;
  height: 300px;
}

.blue {
  background-color: #0008ff;
}

.red {
  background-color: #ff0000;
}

.grn {
  background-color: #00ff51;
}

.set__box {
  display: flex;
  justify-content: center;
}

/* Q7 要素の表示・非表示ここまで */